body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.board {
  display: grid;
  border: solid 1.5px black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border: solid 1.5px black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  margin-top: 0;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  padding: 10px;
}

.modal::backdrop {
  background: rgb(35, 102, 247);
  opacity: .6;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#logo {
  padding: 20px;
  height: 30px;
}

.reset {
  padding: 10px;
  border-radius: 15px;
}

.reset:hover {
  background-color: rgb(35, 102, 247);
  color: white;
  cursor: pointer;
}
